@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');


header {
    background: var(--red);
    color: var(--white);
    padding: var(--spacing-6) var(--spacing-0) var(--spacing-6);
    text-align: center;
    
  }
  
  .go-back {
    position: absolute;
    top: 10px;
    left: 50px;
  }
  
  .go-back img {
    transition: transform 0.2s ease;
    height: 120px;
  }
  
  .go-back:hover img {
    animation: wave-flag 0.5s linear infinite alternate;
    transform: translateX(-8px);
}
  
  body{
    margin:0;
    font-family: 'Noto Sans', sans-serif;
  }

#hero {
    background-image: url("Images/bg.webp");
    background-repeat: repeat;
    background-size: 350px;   
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 175px;
}

header{
    width: 100%;
    text-align: left;
}

.section2 {
    background-image: url("Images/bg-shadow.webp");
    background-repeat: repeat-x;
    background-size: 350px;   
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    /*border: 3px solid yellow;*/
}

.section2 a{
    color: #0158a8;
    font-weight: 600;
    text-decoration: none;

}

.section2 a:hover{
    text-decoration: underline;
    text-decoration-style: wavy;

}

.section2-container {
    margin-top: 60px;
    width: 70vw;
    margin-right: 0px;
    /*border: 2px solid green;*/
}

h1{
    font-size: 40px;
    margin-bottom: 10px;
}


h2{
    font-size: 25px;
    margin-bottom: 10px;
}

li {
    padding: 3px;
    
}

ol {
    
    margin-bottom: 0px;
}

ul{
    padding-left: 35px;
    font-size: 18px;
    margin-top: 5px;
}

.gallery {
    overflow-x: hidden;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    gap: 7px;
    margin-top:  20px;
    margin-bottom: 30px;
}

.gallery img {
    height: 250px;
    width: auto;
    display: block;
}
.section3 {
    background-color: #0158a8;
    height: 200px;
    margin: 0;
    margin-top: 70px;
    
    color: #FBDA0C;
    font-size: 14px;
    background-image: url("Images/footer-bg.webp");
    background-repeat: repeat-x;
    background-size: 350px; 

}

.section3 h3{
    font-weight: 850;
    font-size: 19px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.section3 a{
    font-weight: 650;
    font-size: 16px;
    color: #FBDA0C;
    text-decoration: none;

}

.section3 a:hover{
    text-decoration: underline;
    text-decoration-style: wavy;

}



.footer-section{
    width: 70vw;
    display: flex;
    justify-self: center;
    gap: 20px;
    /*border: 3px solid blue;*/

}

.footer-left {
    margin-top: 80px;
    flex: 1.5;
    text-align: left;

    /*border: 2px solid red;*/
}

.footer-right {
    margin-top: 80px;
    flex: 2;
    text-align: right;
    /*border: 2px solid green;*/
}

#subtext {
    font-weight: 250;
}



@media (max-width: 768px) {

    #hero{
        padding-bottom: 50px;
    }
  .go-back {
    padding-top: 50px;
    position: static;
    display: flex;
    justify-content: center;    
  }

  .go-back img {
    height: 135px;
  }

  /* SECTION 2 */
  .section2-container {
    margin-top: 30px;
    width: 90vw;
    padding-right: 0;
  }

  /* GALLERY */
  .gallery {
    flex-direction: column;
    align-items: left;
    width: 100%;
  }

  .gallery img {
    width: 100%;
    height: auto;
  }

  /* FOOTER */
  .footer-section {
    padding-top: 50px;
    width: 90vw;
    flex-direction: column;
    text-align: center;
  }

  .footer-left,
  .footer-right {
    margin-top: 20px;
    text-align: center;
  }

    .section3 {
        margin-top: 40px;
        height: auto;
        padding-bottom: 35px;
    
    }

    .section3 a{
        line-height: 27px;

    }

}